.classcss{
    color:rgb(255, 255, 255);
    font-size:18px;
    background-color:#000000;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    padding: 10px;
    height: 500px;
    width: 700px;
}
table  {
    width: 50%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
body   {
    background-color:rgba(0, 0, 0, 0.568);        
}
h2 {
    color:white;
    text-align:center;
}